@import "./components/navbar";
@import "./components/topbar";
@import "./components/body";
@import "./components/form";
@import "./components/table";
@import "./components/icon";
@import "./components/liro";

* {
    outline: none;
}

div, iframe {
    box-sizing: border-box;
}

body, table {
    font-size: 0.950rem;
}

iframe {
    width: 100%;
}

form:last-child {
    margin-bottom: 0 !important;
}

.th-fill-default path {
    fill: $color-black !important;
}

.th-fill-primary path {
    fill: $color-primary !important;
}