
.list-filter__popover.el-popover .el-checkbox-group {
    padding: 12px 16px;
    max-height: 190px;
    overflow-y: auto;
    overflow-x: hidden;
}

.list-filter__popover.el-popover .el-checkbox:not(:last-child) {
    margin-bottom: 4px;
}


.list-filter__reset {
    border-top: 1px solid $--border-color-lighter;
    text-align: center;
    padding: 10px 16px;
    font-size: $--font-size-small;
}

.list-filter__reset.list-filter__reset--disabled a {
    cursor: not-allowed;
    color: $--color-text-secondary;
}
