$sm: 575px;
$md: 767px;
$lg: 991px;
$xl: 1199px;

@mixin media-pr {
    @media print { @content; }
}

@mixin media-sm {
    @media (max-width: $sm) { @content; }
}

@mixin media-md {
    @media (max-width: $md) { @content; }
}

@mixin media-lg {
    @media (max-width: $lg) { @content; }
}

@mixin media-xl {
    @media (max-width: $xl) { @content; }
}

@import 'toolkit/liro-grid.scss';

@include grid('row', 'null', 0.5rem);
@include media-xl { @include grid('grid', 'xl', 0.5rem); }
@include media-lg { @include grid('grid', 'lg', 0.5rem); }
@include media-md { @include grid('grid', 'md', 0.5rem); }
@include media-sm { @include grid('grid', 'sm', 0.5rem); }

@include column('col', 12); @include column('col', 10);
@include media-xl { @include column('col-xl', 12); @include column('col-xl', 10); }
@include media-lg { @include column('col-lg', 12); @include column('col-lg', 10); }
@include media-md { @include column('col-md', 12); @include column('col-md', 10); }
@include media-sm { @include column('col-sm', 12); @include column('col-sm', 10); }
@include media-pr { @include column('col-pr', 12); @include column('col-pr', 10); }

// Generate 12 column grid offset
@include offset('off', 12); @include offset('off', 10);
@include media-xl { @include offset('off-xl', 12); @include offset('off-xl', 10); }
@include media-lg { @include offset('off-lg', 12); @include offset('off-lg', 10); }
@include media-md { @include offset('off-md', 12); @include offset('off-md', 10); }
@include media-sm { @include offset('off-sm', 12); @include offset('off-sm', 10); }

// Generate aspect ratio pseudo for 16
@include ratio('asr', 16);
@include media-xl { @include ratio('asr-xl', 16); }
@include media-lg { @include ratio('asr-lg', 16); }
@include media-md { @include ratio('asr-md', 16); }
@include media-sm { @include ratio('asr-sm', 16); }

@include reset('res');
@include media-xl { @include reset('res-xl'); }
@include media-lg { @include reset('res-lg'); }
@include media-md { @include reset('res-md'); }
@include media-sm { @include reset('res-sm'); }