/**
 * Theme
 **/

@import 'color.scss';
@import 'mixin.scss';

html, body {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    overflow-x: hidden;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

div, form, input {
    box-sizing: border-box;
}

a, a:hover, a:active, a:visited {
    text-decoration: none;
}

.main {
    width: 100%;
    min-height: 100vh;
}

.login {
    background-image: url('/packages/liro/moire/resource/dist/img/background.svg');
    background-size: cover;
    background-position: center center;
}

.login-body {
    padding: 2rem;
    background-color: $--color-white;
}

.input-message {
    display: inline-block;
    font-size: 0.825rem;
    line-height: 1.3;
    padding: 0.25rem 0;
    color: mix($--color-black, $--color-primary, 50%);
}

.input-message--error {
    color: $--color-red;
}

.header {
    width: 100%;
    color: $--color-white;
    background-color: $--color-black;
}

.header a, .header a:hover, .header a:active, .header a:visited {
    color: $--color-white;
}

.header--logo {
    width: 70px;
    height: 70px;
    background-color: $--color-primary;
    // transition: all 0.3s;
}

.header--logo:hover {
    // transform: rotate(-90deg);
    background-color: mix($--color-white, $--color-primary, 10%)
}

.header--logo img {
    display: block;
    max-width: 40px;
}

.header--nav ul {
    padding: 0 1.1rem;
    margin: 0;
    list-style-type: none;
}

.header--nav ul li {
    font-size: 1rem;
}

.header--nav ul li a {
    padding: 0 1.1rem;
}

.header--nav ul li.is-active a {
    color: $--color-primary;
    font-weight: 600;
}

.header--nav ul li a > i {
    margin-right: 0.8rem;
}

.header--user {
    padding: 0 1.1rem;
}

.toolbar {
    width: 100%;
    height: 70px;
    color: $--color-black;
    background-color: mix($--color-white, $--color-black, 95%);
}

.toolbar--action {
    font-size: 0.9rem;
    line-height: 70px;
    height: 70px;
}

.toolbar--action a {
    display: block;
    color: $--color-black;
    padding: 0 1.1rem;
}

.toolbar--action-disabled a {
    color: mix($--color-white, $--color-black, 70%);
}

.toolbar--action a:hover {
    background-color: mix($--color-white, $--color-black, 90%);
}

.toolbar--action a i {
    color: mix($--color-white, $--color-black, 70%);
    margin-right: 6px;
}

.toolbar--action-disabled a i {
    color: mix($--color-white, $--color-black, 80%);
}

.toolbar--spacer {
    line-height: 70px;
    height: 70px;
    padding: 15px 0.55rem;
}

.toolbar--spacer span {
    display: block;
    height: 40px;
    width: 1px;
    background-color: mix($--color-white, $--color-black, 90%);
}

.body {
    width: 100%;
    position: relative;
}

.body--content {
    margin-top: 0;
    margin-bottom: 0;
    background-color: $--color-white;
}

.body--sidebar {
    background-color: mix($--color-white, $--color-black, 95%);
}

.body--space {
    padding: 1.8rem;
}