/**
 * Theme
 **/

@import 'color.scss';
@import 'vendor.scss';

[v-cloak] {
    display: none
}

body {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.uk-toolbar .uk-navbar-nav > li > a {
    text-transform: none;
}

.uk-toolbar--spacer {
    @extend .uk-navbar-item;
}

.uk-toolbar--spacer div {
    width: 1px;
    height: 35px;
    background-color: mix($--color-white, $--color-black, 90%);
}