

.component > .el-loading-mask {
    transition: opacity 0s !important;
}

.component.is-root {
    border-radius: $--border-radius-base * 2;
    background: $--color-white;
    box-shadow: $--box-shadow-base;
}
