

.table {
    margin-bottom: 20px;
    background: $--color-white;
    border-radius: $--border-radius-base * 2;
    box-shadow: $--box-shadow-base;
}

.table:last-child {
    margin-bottom: 0;
}

.table .table__td {
    padding: 20px 16px;
}

.table .table__td:first-child {
    padding-left: 24px;
}

.table .table__td:last-child {
    padding-right: 24px;
}

.table .table__td--xs {
    flex-shrink: 0;
    width: 50px;
}

.table .table__td--sm {
    flex-shrink: 0;
    width: 100px;
}

.table .table__td--md {
    flex-shrink: 0;
    width: 160px;
}

.table .table__td--lg {
    flex-shrink: 0;
    width: 240px;
}

.table .table__td--xl {
    flex-shrink: 0;
    width: 380px;
}

.table .table__head .table__tr {
    border-bottom: 1px solid $--border-color-lighter;
}

.table .table__filter {
    background: mix($--border-color-lighter, $--color-white, 25%);
}

.table .table__filter .table__tr {
    font-size: 0.925rem;
    border-bottom: 1px solid $--border-color-lighter;
}

.table .table__filter {
    color: $--color-text-regular;
}

.table .table__body .table__tr {
    margin-top: -1px;
    border-top: 1px solid $--border-color-lighter;
    border-bottom: 1px solid $--border-color-lighter;
}

.table.table__highlight .table__body .table__tr {
    transition: background 0.15s;
}

.table.table__highlight .table__body .table__tr:nth-child(2n) {
    background: mix($--border-color-lighter, $--color-white, 25%);
}

//.table .table__filter .table__tr > div .app-list-filter > a,
//.table .table__filter .table__tr > div .app-list-sort > a {
//    display: block;
//    padding: 20px 16px;
//}
//
//.table .table__filter .table__tr > div:first-child .app-list-filter > a,
//.table .table__filter .table__tr > div:first-child .app-list-sort > a {
//    padding-left: 24px;
//}
//
//.table .table__filter .table__tr > div:last-child .app-list-filter > a,
//.table .table__filter .table__tr > div:last-child .app-list-sort > a {
//    padding-right: 24px;
//}
