$global-font-family:                    'Roboto', 'Helvetica', 'Arial', sans-serif;
$global-font-size:                      16px;
$transition-duration:                   0.15s;
$transition-slow-duration:              0.30s;
$global-control-height:                 38px;
$global-gutter:                         20px;
$global-large-gutter:                   50px;
$global-small-gutter:                   15px;
$global-large-margin:                   50px;
$global-border-radius:                  2px;
$global-border-width:                   1px;
$global-xxlarge-font-size:              1.850rem;
$global-xlarge-font-size:               1.650rem;
$global-large-font-size:                1.450rem;
$global-medium-font-size:               1.250rem;
$global-small-font-size:                0.875rem;
$global-emphasis-color:                 $color-black;
$global-color:                          $color-black;
$global-border:                         $color-gray-10;
$global-muted-background:               $color-gray-10;
$global-muted-color:                    $color-gray-40;
$global-primary-background:             $color-primary;
$global-secondary-background:           $color-secondary;
$global-success-background:             $color-success;
$global-warning-background:             $color-warning;
$global-danger-background:              $color-danger;
$global-link-color:                     $color-primary;
$global-link-hover-color:               darken($global-link-color, 10%);
$base-heading-font-weight:              300;
$base-link-hover-text-decoration:       none;
$base-body-color:                       $color-gray-65;
$icon-image-size:                       14px;
$tooltip-background:                    rgba($color-gray-90, 0.65);
$heading-primary-font-size-m:           2.00rem;
$button-text-transform:                 none;
$button-font-size:                      0.875rem;
$button-default-background:             $color-gray-5;
$button-primary-color:                  $color-white;
$button-primary-hover-color:            $color-white;
$button-primary-active-color:           $color-white;
$button-secondary-color:                $color-primary;
$button-secondary-hover-color:          $color-primary;
$button-secondary-active-color:         $color-primary;
$nav-header-text-transform:             none;
$nav-default-font-size:                 $global-font-size;
$navbar-nav-item-text-transform:        none;
$notification-width:                    450px;
$notification-message-background:       $color-white;
$notification-message-font-size:        $global-small-font-size;
$notification-close-top:                $global-small-gutter + 3px;
$notification-close-right:              $global-small-gutter;
$offcanvas-bar-background:              $color-white;
$offcanvas-bar-color-mode:              dark;
$pagination-margin-horizontal:          15px;
$alert-primary-background:              lighten(mix(white, $global-primary-background, 25%), 20%);
$alert-success-background:              lighten(mix(white, $global-success-background, 25%), 20%);
$alert-warning-background:              lighten(mix(white, $global-warning-background, 25%), 20%);
$alert-danger-background:               lighten(mix(white, $global-danger-background, 25%), 20%);