@import "~nano-ui/src/root/vars";

.web-backend__header {
    z-index: 10;
    position: relative;
    background: $--color-white;
    padding: 0 50px;
    border-bottom: 1px solid $--color-gray-05;
}

.web-backend__header > .grid {
    height: 80px;
}

.web-backend__header ul li a {
    display: inline-block;
    padding: 20px 10px;
    color: $--color-gray-70;
    transition: color 0.12s;
}

.web-backend__header ul li a:hover {
    color: $--color-gray-60;
}

.web-backend__header ul li.link--active a {
    color: $--color-black;
}

.web-backend__header .web-auth__user-image,
.web-backend__header .web-auth__user-image img {
    width: 42px;
    height: 42px;
}

.web-backend__header .web-auth__user-image {
    overflow: hidden;
    border-radius: 500px;
}

.web-backend__header .web-auth__user-image img {
    display: block;
}

.web-backend__header .web-auth__user-button .n-button {
    line-height: 42px;
    padding: 0 10px;
}

.web-backend__header .n-popover.n-popover--account .n-popover__frame {
    margin-top: 10px;
    background: $--color-white;
    box-shadow: $box-shadow;
}

.web-backend__header .n-popover.n-popover--account .n-popover__footer {
    padding: 8px 15px;
    border-top: 1px solid $--color-gray-10;
}

.web-backend__header .n-popover.n-popover--account .n-tabs__header {
    margin-bottom: 0;
}

.web-backend__header .n-popover.n-popover--account .n-tabs__header-inner {
    justify-content: center;
}

.web-backend__header .n-popover.n-popover--account .n-tabs__tab-label span {
    font-size: 14px;
}
