@import "~nano-ui/src/root/vars";

.web-backend-login {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(60deg, $color-primary-light 0%, $color-primary-dark 100%);
}

.web-backend-login .n-form {
    padding: 30px 60px;
    min-width: 420px;
}

.web-backend-login__image {
    position: relative;
}

.web-backend-login__image:after {
    content: '\00a0';
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    filter: grayscale(1);
    background-position: center;
    background-size: cover;
    background-image: url('//images.pexels.com/photos/3205743/pexels-photo-3205743.jpeg');
}

.web-backend-login__image img {
    z-index: 20;
    position: relative;
}

.web-backend-login__frame {
    background: $--color-white;
}
