@import "~nano-ui/src/root/vars";

.web-backend-menu {
    padding: 10px 5px;
    background: linear-gradient(60deg, $color-primary-light 0%, $color-primary-dark 100%);
}

.web-backend-menu li {
    margin: 10px;
}

.web-backend-menu li a,
.web-backend-menu li a img {
    display: block;
    width: 48px;
    height: 48px;
}

.web-backend-menu li a {
    border-radius: 5px;
    transition: background 0.15s;
}

.web-backend-menu li a:hover {
    background: rgba($--color-primary-lighter, 0.5);
}

.web-backend-menu li.link--active a {
    background: $--color-primary-lighter;
}
