@import "~nano-ui/src/root/vars";

.web-backend-resizer {
    cursor: col-resize;
    position: absolute;
    top: 0;
    right: -7px;
    display: flex;
    align-items: center;
    width: 14px;
    height: 100%;
    padding: 0 2px;
}

.web-backend-resizer__inner {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    background: $--color-gray-15;
    border-radius: 500px;
}
