@import "~nano-ui/src/root/vars";

.web-backend-title {
    padding: 35px 50px 40px;
    background: $--color-white;
    box-shadow: 0 0 4px rgba($color-black, 0.1);
}

.web-backend-title__text {
    color: $--color-primary;
}

.web-backend-title__info {
    color: $--color-gray-60;
}
