@import "~nano-ui/src/root/vars";

.web-backend-title {
    padding: 35px 60px 40px;
}

.web-backend-title__text {
    color: $--color-primary;
}

.web-backend-title__info {
    color: $--color-gray-60;
}
