@import "~nano-ui/src/root/vars";

.web-backend__tree {
    width: 360px;
    padding: 20px;
    background: $--color-black-light;
    overflow-y: auto;
}

.web-backend__tree .web-menu__tree {
    position: relative;
    min-height: 100%;
}

.web-backend__tree .web-menu__tree:after {
    background: rgba($color-black-light, 0.6);
}

.web-backend__tree .n-draggable__item {
    color: $--color-gray-50;
    margin-top: 1px;
    border-radius: $radius-small;
    transition: background 0.15s;
}

.web-backend__tree .n-draggable__item:hover,
.web-backend__tree .n-draggable__item.n-draggable--dragover {
    background: $--color-black-lighter;
}

.web-backend__tree .n-draggable__item.n-draggable--selected {
    transition: background 0.15s 0.15s;
    background: $--color-black-lighter;
}

.web-backend__tree .n-draggable__item.n-draggable--dragover.n-draggable--selected {
    opacity: 0.5;
}

.web-backend__tree .n-draggable-tree-item > .n-draggable-tree-item__expand span {
    color: $--color-gray-70;
}

.web-backend__tree .web-menu__tree-item.web-menu__tree-item--root {
    line-height: 40px;
}

.web-backend__tree .web-menu__tree-item.web-menu__tree-item--root .web-title {
    font-size: 16px;
    color: $--color-gray-30;
}

.web-backend__tree .web-menu__tree-item .web-count {
    font-size: 12px;
    margin-left: 6px;
}

.web-backend__tree .web-menu__tree-item .web-icon {
    display: inline-block;
    width: 24px;
    margin-right: 6px;
    text-align: center;
    color: $--color-primary-light;
}
