
.app-form-input {

    &:not(:last-child) {
        margin-bottom: 20px !important;
    }

    &.is-title .uk-input {
        font-size: 1rem;
        height: 42px;
    }

}

.app-form-select {

    &.uk-margin-remove-bottom .uk-form-controls {
        margin-bottom: 0 !important;
    }

    &:not(:last-child) {
        margin-bottom: 20px !important;
    }

    .uk-select {
        cursor: pointer;
        user-select: none;
    }

    .uk-select > .uk-label {
        text-transform: none;
        padding: 4px 9px;
        margin: 5px 5px 5px 0;
        // border-radius: 2px;
    }

    .uk-dropdown {
        padding: 0;
        background-color: $color-white;
        max-height: 280px;
        overflow-y: auto;
    }

    .uk-nav > li:not(:last-child) {
        border-bottom: 1px solid $color-gray-5;
    }

    .uk-nav > li > .uk-checkbox-label,
    .uk-nav > li > .uk-radio-label,
    .uk-nav > li > span {
        display: block;
        color: $color-gray-40;
        padding: 12px 20px;
        transition: all 0.15s;
    }

    .uk-nav > li:hover > .uk-checkbox-label,
    .uk-nav > li:hover > .uk-radio-label,
    .uk-nav > li:hover > span {
        color: $color-gray-65;
        background-color: lighten($color-gray-5, 3%);
    }

    .uk-nav > li.uk-active > .uk-checkbox-label,
    .uk-nav > li.uk-active > .uk-radio-label,
    .uk-nav > li.uk-active > span {
        color: $color-gray-90;
    }

}

.app-form-switch {

    &:not(:last-child) {
        margin-bottom: 20px !important;
    }

    .uk-nav {
        display: inline-flex;
        padding: 2px;
        border-radius: 500px;
        background-color: $color-white;
        border: 1px solid $color-gray-10;
    }

    &.uk-width-1-1 .uk-nav {
        display: flex;
    }

    .uk-nav > li {
        flex: 1 1 auto;
        font-size: 0.875rem;
        border: 1px solid transparent;
        border-radius: 500px;
        transition: background 0.3s;
    }

    .uk-nav > li > a {
        border-radius: 500px;
        line-height: 1.2;
        padding: 7px 9px;
        color: $color-gray-50;
        transition: all 0.3s;
    }

    .uk-nav > li:not(:first-child) {
        margin-left: 1px;
    }

    .uk-nav > li:not(:last-child) {
        margin-right: 1px;
    }

    .uk-nav > li.uk-active {
        background-color: rgba($color-primary, 0.20);
        border-color: rgba($color-primary, 0.25);
    }

    .uk-nav > li:hover a {
        color: $color-gray-75;
    }

    .uk-nav > li.uk-active a {
        color: $color-primary;
    }

    &.is-state .uk-nav[data-value="0"] > li.uk-active {
        background-color: rgba($color-danger, 0.20);
        border-color: rgba($color-danger, 0.25);
    }

    &.is-state .uk-nav[data-value="0"] > li.uk-active a {
        color: $color-danger;
    }

    &.is-state .uk-nav[data-value="1"] > li.uk-active {
        background-color: rgba($color-success, 0.20);
        border-color: rgba($color-success, 0.25);
    }

    &.is-state .uk-nav[data-value="1"] > li.uk-active a {
        color: $color-success;
    }

    &.is-hide .uk-nav[data-value="1"] > li.uk-active {
        background-color: rgba($color-danger, 0.20);
        border-color: rgba($color-danger, 0.25);
    }

    &.is-hide .uk-nav[data-value="1"] > li.uk-active a {
        color: $color-danger;
    }

    &.is-default .uk-nav[data-value="0"] > li.uk-active {
        background-color: rgba($color-gray-25, 0.20);
        border-color: rgba($color-gray-25, 0.25);
    }

    &.is-default .uk-nav[data-value="0"] > li.uk-active a {
        color: $color-gray-75;
    }

}