
.app-form-input {

    &:not(:last-child) {
        margin-bottom: 20px !important;
    }

    &.is-title .uk-input {
        font-size: 1rem;
        height: 42px;
    }

}

.app-form-select {

    &.uk-margin-remove-bottom .uk-form-controls {
        margin-bottom: 0 !important;
    }

    &:not(:last-child) {
        margin-bottom: 20px !important;
    }

    .uk-select {
        cursor: pointer;
        user-select: none;
    }

    .uk-select > .uk-label {
        text-transform: none;
        margin: 8px 8px 8px 0;
    }

    .uk-dropdown {
        padding: 0;
        background-color: $color-white;
        max-height: 280px;
        overflow-y: auto;
    }

    .uk-nav > li > .uk-checkbox-label,
    .uk-nav > li > .uk-radio-label {
        display: block;
        color: $color-gray-40;
        padding: 12px 20px;
        transition: all 0.15s;
    }

    .uk-nav > li:hover > .uk-checkbox-label,
    .uk-nav > li:hover > .uk-radio-label {
        color: $color-gray-65;
    }

    .uk-nav > li.uk-active > .uk-checkbox-label,
    .uk-nav > li.uk-active > .uk-radio-label {
        color: $color-gray-90;
        background-color: lighten($color-gray-5, 3%);
    }

}

.app-form-switch {

    &:not(:last-child) {
        margin-bottom: 20px !important;
    }

    .uk-nav {
        display: inline-flex;
        border-radius: 3px;
        background-color: $color-gray-10;
    }

    &.uk-width-1-1 .uk-nav {
        display: flex;
    }

    .uk-nav > li {
        flex: 1 1 auto;
        font-size: 0.875rem;
        border-radius: 3px;
        transition: background 0.3s;
    }

    .uk-nav > li > a {
        text-align: center;
        display: block;
        padding: 0 20px;
        height: 36px;
        line-height: 36px;
        color: $color-gray-50;
        transition: color 0.3s;
    }

    .uk-nav > li:not(:first-child) {
        margin-left: 4px;
    }

    .uk-nav > li:not(:last-child) {
        margin-right: 4px;
    }

    .uk-nav > li:hover {
        background-color: darken($color-gray-10, 3%);
    }

    .uk-nav > li.uk-active {
        background-color: $color-primary;
    }

    .uk-nav > li.uk-active a {
        color: $color-white;
    }

    &.is-state .uk-nav[data-value="0"] > li.uk-active {
        background-color: $color-danger;
    }

    &.is-state .uk-nav[data-value="1"] > li.uk-active {
        background-color: $color-success;
    }

    &.is-hide .uk-nav[data-value="0"] > li.uk-active {
        background-color: $color-gray-40;
    }

    &.is-hide .uk-nav[data-value="1"] > li.uk-active {
        background-color: $color-danger;
    }

}