
.app-label:not(:last-child) {
    margin-bottom: 16px;
}

.app-label.is-required .uk-form-label span:after {
    content: '*';
    color: $global-danger-background;
    margin-left: $global-gutter / 4;
}

.app-label.is-horizontal {
    display: flex;
    flex-wrap: wrap;
}

.app-label.is-horizontal .uk-form-label {
    width: 100%;
}

@media (min-width: $breakpoint-medium) {
    .app-label.is-horizontal .uk-form-label {
        width: 240px;
        margin: 7px 0;
    }
}

.app-label.is-horizontal .uk-form-controls {
    flex: 1 1 auto;
}

@media (min-width: $breakpoint-medium) {
    .app-label.is-horizontal .uk-form-controls {
        margin: 0;
    }
}