
.app-list-sort {

    & > a {
        color: $color-gray-50;
    }

    & > a.uk-active {
        color: $color-primary;
    }

    & > a > span {
        margin-left: 5px;
    }

}

.app-list-filter {

    & > a {
        color: $color-gray-50;
    }

    & > a.uk-active {
        color: $color-primary;
    }

    & > a > span {
        margin-left: 5px;
    }

}

.app-list-switch {

    & {
        opacity: 0.7;
    }

    & > a {
        color: $color-gray-25;
    }

    &.uk-active  > a{
        color: $color-primary;
    }

    &.is-state > a,
    &.is-hide > a,
    &.is-default > a {
        display: inline-block;
        width: 14px;
        height: 14px;
        border-radius: 500px;
        background-color: $color-gray-25;
    }

    &.is-state.uk-active > a {
        background-color: $color-success;
    }

    &.is-hide.uk-active > a {
        background-color: $color-warning;
    }

    &.is-default.uk-active > a {
        background-color: $color-primary;
    }

}