
.app-list-sort {

    & > a {
        color: $color-black;
    }

    & > a.uk-active {
        color: $color-primary;
    }

    & > a > span {
        margin-left: 5px;
    }

}

.app-list-filter {

    & > a {
        color: $color-black;
    }

    & > a.uk-active {
        color: $color-primary;
    }

    & > a > span {
        margin-left: 5px;
    }

}

.app-list-switch {

    & > a {
        color: $color-gray-25;
    }

    &.uk-active  > a{
        color: $color-primary;
    }

    &.is-state > a,
    &.is-hide > a,
    &.is-default > a {
        display: inline-block;
        width: 14px;
        height: 14px;
        border-radius: 500px;
        background-color: $color-gray-25;
    }

    &.is-state.uk-active > a {
        background-color: $color-success;
    }

    &.is-hide.uk-active > a {
        background-color: $color-danger;
    }

    &.is-default.uk-active > a {
        background-color: $color-primary;
    }

}

.app-list-pagination {

    .uk-select {
        font-size: 0.875rem;
        padding: 0 8px;
        background-size: 20px auto;
    }

    .uk-select:not([multiple]):not([size]) {
        height: 28px;
        padding-right: 15px;
    }

}