
/*
* Style for nestable
*/

.liro-menu-index .nestable {
    position: relative;
    background-color: $color-gray-5;
}

.liro-menu-index .nestable .nestable-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.liro-menu-index .nestable .nestable-item-name {
    background-color: $color-white;
}

.liro-menu-index .nestable .nestable-item > .nestable-list > .nestable-item {
    display: none;
}

.liro-menu-index .nestable .nestable-item > .nestable-list > .nestable-item.is-dragging,
.liro-menu-index .nestable .nestable-item.nestable-show > .nestable-list > .nestable-item {
    display: block;
}

.liro-menu-index .nestable .nestable-list .nestable-list {
    padding-left: 40px;
}

.liro-menu-index .nestable-item {
    width: 100%;
    position: relative;
}

.liro-menu-index .nestable-item.is-dragging .nestable-list {
    pointer-events: none;
}

.liro-menu-index .nestable-item.is-dragging * {
    opacity: 0;
    filter: alpha(opacity=0);
}

.liro-menu-index .nestable-item.is-dragging:before {
    content: '\00a0';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($color-primary, 0.3);
}

.liro-menu-index .nestable-item.is-dragging .nestable-list,
.liro-menu-index .nestable-drag-layer .nestable-list .nestable-list {
    display: none !important;
}

.liro-menu-index .nestable-drag-layer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    pointer-events: none;
}

.liro-menu-index .nestable-drag-layer > .nestable-list {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba($color-light-20, 0.9);
}

.liro-menu-index .nestable [draggable="true"] {
    // cursor: move;
}