
/*
* Style for nestable
*/

.nestable {
    position: relative;
}

.nestable .nestable-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nestable .nestable-item > .nestable-list > .nestable-item {
    display: none;
}

.nestable .nestable-item > .nestable-list > .nestable-item.is-dragging,
.nestable .nestable-item.nestable-show > .nestable-list > .nestable-item {
    display: block;
}

.nestable .nestable-list .nestable-list {
    padding-left: 40px;
}

.nestable-item {
    width: 100%;
    position: relative;
}

.nestable-item.is-dragging .nestable-list {
    pointer-events: none;
}

.nestable-item.is-dragging * {
    opacity: 0;
    filter: alpha(opacity=0);
}

.nestable-item.is-dragging:before {
    content: '\00a0';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($color-primary, 0.3);
    border: 1px dashed rgba($color-primary, 0.7);
    border-radius: 4px;
}

.nestable-item.is-dragging .nestable-list,
.nestable-drag-layer .nestable-list .nestable-list {
    display: none !important;
}

.nestable-drag-layer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    pointer-events: none;
}

.nestable-drag-layer > .nestable-list {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(mix($color-white, $color-primary, 90%), 0.8);
    border-radius: 3px;
}

.nestable [draggable="true"] {
    // cursor: move;
}