
body.th-index {

    & {
        background-color: $color-gray-5;
    }

    .th-index-header {
        box-shadow: 0 0 20px rgba(#555, 0.05);
    }

    .th-index-body {
        padding: 40px 15px;
    }

}

body.th-dark.th-index {

    // & {
    //     background-color: darken($color-gray-90, 2.5);
    // }

    // .th-index-header {
    //     box-shadow: 0 0 20px rgba(#000, 0.05);
    // }

}

body.th-error {

    .th-error-body {
        min-height: 100vh;
        padding: 40px 15px;
    }

    .th-error-form {
        width: 100%;
        max-width: 450px;
    }

}

body.th-login {

    & {
        background-color: $color-gray-5;
        background-image: url('../images/background.jpg');
        background-size: cover;
    }

    .th-login-body {
        min-height: 100vh;
        padding: 40px 15px;
    }

    .th-login-form {
        background-color: $color-white;
        width: 100%;
        border-radius: 3px;
        max-width: 450px;
    }

}

body.th-frame {

    & {
        width: 100%;
    }

    .th-frame-content {
        padding: 30px;
    }

}