
body.th-index {

    & {
        background-color: $color-gray-10;
    }

    .th-index-app {
        min-height: 100vh;
    }

    .th-index-navigation {
        background-color: $color-gray-95;
    }

    .th-index-header {
        z-index: 10;
        position: relative;
        background-color: $color-white;
        box-shadow: 0 0 3px rgba($color-gray-50, 0.15);
    }

    .th-index-sidebar {
        padding: 25px 20px;
        max-width: 300px;
        background-color: $color-gray-5;
        box-shadow: 0 0 3px rgba($color-gray-50, 0.15);
    }

    .th-index-sidebar:not(.is-active) {
        display: none;
    }

    .th-index-body {
        padding: 25px 25px;
    }

    .th-index-infobar {
        padding: 20px 15px;
        max-width: 300px;
        background-color: $color-gray-5;
        box-shadow: 0 0 3px rgba($color-gray-50, 0.15);
    }

    .th-index-infobar:not(.is-active) {
        display: none;
    }

}

body.th-error {

    & {
        background-color: $color-white;
    }

    .th-error-body {
        min-height: 100vh;
        padding: 40px 15px;
    }

    .th-error-form {
        width: 100%;
        max-width: 450px;
    }

}

body.th-login {

    & {
        background-color: $color-gray-10;
    }

    .th-login-background {
        background-color: $color-gray-95;
    }

    .th-login-background img {
        opacity: 0.15;
    }

    .th-login-body {
        min-height: 100vh;
        padding: 40px 15px;
    }

    .th-login-form {
        background-color: $color-white;
        width: 100%;
        border-radius: 3px;
        max-width: 450px;
        box-shadow: 0 0 3px rgba($color-gray-50, 0.15);
    }

}

body.th-frame {

    & {
        width: 100%;
    }

    .th-frame-content {
        padding: 30px;
    }

}