
body.th-index {

    & {
        background-color: $color-gray-5;
    }

    .th-index-header {
        box-shadow: 0 0 3px rgba($color-gray-50, 0.15);
    }

    .th-index-body {
        padding: 40px 15px;
    }

}

body.th-error {

    & {
        background-color: $color-gray-5;
    }

    .th-error-body {
        min-height: 100vh;
        padding: 40px 15px;
    }

    .th-error-form {
        width: 100%;
        max-width: 450px;
    }

}

body.th-login {

    & {
        background-color: darken($color-gray-95, 5%);
    }

    .th-login-background {
        opacity: 0.2;
    }

    .th-login-body {
        min-height: 100vh;
        padding: 40px 15px;
    }

    .th-login-form {
        background-color: $color-white;
        width: 100%;
        border-radius: 3px;
        max-width: 450px;
    }

}

body.th-frame {

    & {
        width: 100%;
    }

    .th-frame-content {
        padding: 30px;
    }

}