
.app-login__frame {
    position: relative;
    min-height: 100vh;
    min-width: 100vh;
}

.app-login__background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $--color-black;
}

.app-login__background img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.25;
}

.app-login__form {
    position: relative;
    z-index: 10;
    width: 420px;
    padding: 20px 26px 12px;
    background: $--color-white;
    border-radius: $--border-radius-base * 1.5;
}

.app-login__logo {
    padding: 16px 0 26px;
    text-align: center;
}

.app-login__logo img {
    display: inline-block;
    width: 140px;
    height: 35px;
}
