
.th-form {
    border-radius: 3px;
    margin-bottom: 20px;
    background-color: $color-white;
    box-shadow: 0 1px 3px rgba($color-gray-50, 0.15);
}

.th-form:last-child {
    margin-bottom: 0;
}

.th-form:not(.is-table) {
    padding: 20px 24px;
}

.th-form .uk-legend {
    margin: 30px -24px 20px -24px;
    padding: 20px 24px;
    background-color: $color-gray-5;
}

.th-form .uk-legend:first-child {
    margin: -20px -24px 20px -24px;
}

.th-form .uk-legend:last-child {
    margin: 20px -24px -20px -24px;
}

.th-form .uk-legend:not(:first-child) {
    border-top: 1px solid darken($color-gray-5, 3%);
}

.th-form .uk-legend:not(:last-child) {
    border-bottom: 1px solid darken($color-gray-5, 3%);
}