
.th-form {

    & {
        padding: 25px 30px 30px;
        border-radius: 3px;
        background-color: $color-white;
        margin-bottom: 20px;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &.is-table {
        padding: 10px 20px;
    }

    &.is-table .th-icon-hover .uk-icon {
        display: none;
    }

    &.is-table .th-icon-hover:hover .uk-icon {
        display: inline-block;
    }

}

body.th-dark .th-form {

    & {
        // background-color: $color-gray-95;
    }

}