
$--theme-header-height: 80px;
$--theme-toolbar-height: 80px;
$--theme-footer-height: 60px;

$--theme-header-padding: 0 30px;
$--theme-toolbar-padding: 0 30px;
$--theme-content-padding: 0 30px;
$--theme-footer-padding: 0 30px;


$--theme-content-margin: 20px 0;

$--theme-header-background: $--color-black;
$--theme-toolbar-background: $--color-white;
$--theme-content-background: transparent;
$--theme-footer-background: $--color-white;

.layout {
    overflow-x: hidden;
    min-height: 100vh;
}

.layout__menubar {
    z-index: 30;
    position: relative;
    min-height: $--theme-header-height;
    background: $--theme-header-background;
    padding: $--theme-header-padding;
}

.layout__toolbar {
    z-index: 20;
    position: relative;
    min-height: $--theme-toolbar-height;
    background: $--theme-toolbar-background;
    padding: $--theme-toolbar-padding;
    box-shadow: $--box-shadow-base;
}

.layout__content {
    z-index: 10;
    position: relative;
    padding: $--theme-content-padding;
    background: $--theme-content-background;
}

.layout__content > * {
    margin: $--theme-content-margin;
}

.layout__footer {
    z-index: 20;
    position: relative;
    height: $--theme-footer-height;
    background: $--theme-footer-background;
    padding: $--theme-footer-padding;
    box-shadow: $--box-shadow-base;
}
