
$--theme-nav-height: $--theme-header-height;

$--theme-nav-default-color: rgba($--color-white, 0.6);
$--theme-nav-hover-color: rgba($--color-white, 0.8);
$--theme-nav-active-color: rgba($--color-white, 1.0);
$--theme-nav-current-color: $--color-primary;

$--theme-nav-font-size-small: 13px;
$--theme-nav-item-height-small: $--theme-nav-height / 2.5;

$--theme-nav-font-size-medium: 14px;
$--theme-nav-item-height-medium: $--theme-nav-height / 2.5;

$--theme-nav-font-size-large: 16px;
$--theme-nav-item-height-large: $--theme-nav-height / 2.5;

.nav {
    list-style-type: none;
    height: $--theme-nav-height;
}

.nav a {
    text-decoration: none;
}

.nav__item.nav__item--small {
    font-size: $--theme-nav-font-size-small;
}

.nav__item.nav__item--small [class^="el-icon-"],
.nav__item.nav__item--small [class*="el-icon-"] {
    font-size: $--theme-nav-font-size-small * 0.75;
    margin: 0 $--theme-nav-font-size-small * 0.25;
}

.nav__item.nav__item--small [class^="el-icon-"]:only-child,
.nav__item.nav__item--small [class*="el-icon-"]:only-child {
    font-size: $--theme-nav-font-size-small * 1.25;
}

.nav__item.nav__item--small,
.nav__item.nav__item--small .nav__popover {
    min-height: $--theme-nav-item-height-small;
    line-height: $--theme-nav-item-height-small;
}

.nav__item.nav__item--medium {
    font-size: $--theme-nav-font-size-medium;
}

.nav__item.nav__item--medium [class^="el-icon-"],
.nav__item.nav__item--medium [class*="el-icon-"] {
    font-size: $--theme-nav-font-size-medium * 0.75;
    margin: 0 $--theme-nav-font-size-medium * 0.25;
}

.nav__item.nav__item--medium [class^="el-icon-"]:only-child,
.nav__item.nav__item--medium [class*="el-icon-"]:only-child {
    font-size: $--theme-nav-font-size-medium * 1.25;
}

.nav__item.nav__item--medium,
.nav__item.nav__item--medium .nav__popover {
    min-height: $--theme-nav-item-height-medium;
    line-height: $--theme-nav-item-height-medium;
}

.nav__item.nav__item--large {
    font-size: $--theme-nav-font-size-large;
}

.nav__item.nav__item--large [class^="el-icon-"],
.nav__item.nav__item--large [class*="el-icon-"] {
    font-size: $--theme-nav-font-size-large * 0.75;
    margin: 0 $--theme-nav-font-size-large * 0.25;
}

.nav__item.nav__item--large [class^="el-icon-"]:only-child,
.nav__item.nav__item--large [class*="el-icon-"]:only-child {
    font-size: $--theme-nav-font-size-large * 1.25;
}

.nav__item.nav__item--large,
.nav__item.nav__item--large .nav__popover {
    min-height: $--theme-nav-item-height-large;
    line-height: $--theme-nav-item-height-large;
}

.nav__item .el-badge__content {
    border-color: $--theme-header-background;
}

.nav__popover,
.nav__item a {
    display: inline-block;
}

.nav__item,
.nav__item a {
    transition: color 0.15s;
    color: $--color-text-regular;
}

.nav__item a:hover {
    color: $--color-text-secondary;
}

.nav__item.nav__item--active,
.nav__item.nav__item--active a {
    color: $--color-text-secondary;
}

.nav__item.nav__item--current,
.nav__item.nav__item--current a {
    color: $--color-text-secondary;
}

.nav__dropdown .nav__dropdown-nav {
    padding: 6px 0;
}

.nav__dropdown .nav__dropdown-nav,
.nav__dropdown .nav__item {
    display: block;
}

.nav__dropdown .nav__link {
    transition: background 0.15s;
    width: 100%;
    display: block;
    padding: 4px 16px;
}

.nav__dropdown .nav__link:hover {
    background: $--color-primary-light-9;
}


.nav__dropdown .nav__item,
.nav__dropdown .nav__item a {
    font-size: 13px;
    color: $--color-text-secondary;
}

.nav__dropdown .nav__item a:hover {
    color: $--color-primary-light-2;
}

.nav__dropdown .nav__item.nav__item--active,
.nav__dropdown .nav__item.nav__item--active a {
    color: $--color-text-regular;
}

.nav__dropdown .nav__item.nav__item--current,
.nav__dropdown .nav__item.nav__item--current a {
    color: $--color-primary-light-1;
}


//.nav__dropdown[x-placement^="bottom"] .popper__arrow {
//    z-index: -10;
//    border-bottom-color: lighten($--color-black, 10%);
//}
//
//.nav__dropdown[x-placement^="bottom"] .popper__arrow::after {
//    border-bottom-color: lighten($--color-black, 10%);
//}
