
.th-navbar {

    .th-fill-default path {
        fill: $color-white !important;
    }

    .th-fill-primary path {
        fill: $color-primary !important;
    }

    .uk-navbar, .uk-nav {
        width: 240px;
        flex-direction: column;
    }

    .uk-logo {
        height: 100px !important;
        color: $color-white;
    }

    .uk-navbar-divider {
        display: flex;
        align-items: center;
        height: 40px;
    }

    .uk-navbar-divider:before {
        content: '\00a0';
        display: block;
        width: 20px;
        border-bottom: 1px solid rgba($color-gray-50, 0.25);
    }

    .uk-navbar-item {
        height: 40px;
        min-height: 40px;
        padding: 0 20px;
    }

    .uk-nav .uk-nav {
        overflow: hidden;
        height: 0;
    }

    .uk-nav > li {
        position: relative;
    }

    .uk-nav > li > .uk-nav {
        transform-origin: top left;
    }

    .uk-nav > li > a {
        height: 45px;
        min-height: 45px;
        padding: 0 30px 0 30px;
        color: $color-gray-50;
        transition: all 0.15s;
    }

    .uk-nav > li > a.uk-flex {
        display: flex !important;
    }

    .uk-nav.uk-text-small > li > a {
        font-size: $global-small-font-size;
    }

    .uk-nav > li > a:focus,
    .uk-nav > li:hover > a {
        color: $color-gray-35;
        background-color: $color-gray-90;
    }

    .uk-nav > li.uk-active > a {
        color: $color-white;
    }

    .uk-nav > li.uk-active > a:before {
        content: '\00a0';
        position: absolute;
        top: 50%;
        left: 12px;
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 500px;
        background-color: $color-primary;
        transform: translateY(-50%);
    }

    .uk-nav .uk-nav > li > a {
        color: $color-gray-15;
        font-size: $global-small-font-size;
    }

    .uk-nav .uk-nav > li > a:focus,
    .uk-nav .uk-nav > li:hover > a {
        color: $color-white;
        background-color: $color-gray-55;
    }

    .uk-nav .uk-nav > li.uk-active > a:before {
        background-color: $color-white;
    }

    .uk-nav > li > a .uk-icon {
        opacity: 0.6;
    }

    .uk-nav > li > a .uk-icon svg {
        // width: 18px;
        // height: 18px;
    }

}
