
.th-navbar {

    & {
        background-color: darken($color-gray-95, 5%);
        padding: 30px 0;
    }

    .th-fill-default path {
        fill: $color-white !important;
    }

    .th-fill-primary path {
        fill: $color-primary !important;
    }

    .uk-logo {
        color: $color-white;
    }

    .uk-navbar-divider {
        display: flex;
        align-items: center;
        height: 40px;
    }

    .uk-navbar-divider:before {
        content: '\00a0';
        display: block;
        height: 20px;
        border-left: 1px solid rgba($color-gray-50, 0.25);
    }

    .uk-navbar-search .uk-input {
        border-radius: 500px;
        border: 0;
        background-color: $color-gray-10;
        padding: 0 20px;
        color: $color-gray-60;
    }

    .uk-navbar-search .uk-form-icon-flip + .uk-input {
        padding-right: 43px !important;
    }

    .uk-navbar-search .uk-input:focus {
        box-shadow: 0 0 0 0.1rem rgba($color-gray-50, 0.2);
    }

    .uk-navbar-search a.uk-form-icon:hover {
        color: $color-primary;
    }

    .uk-navbar-search .uk-form-icon svg {
        width: 16px;
        height: 16px;
    }

    .uk-navbar-search .uk-form-icon-flip {
        right: 5px;
    }

    .uk-navbar-icon {
        width: 20px;
        height: 20px;
        margin-right: 8px;
    } 

    .uk-navbar-item {
        height: 40px;
        padding: 0 20px;
    }

    .uk-navbar-nav > li {
        margin: 0 5px;
    }

    .uk-navbar-nav > li > a {
        height: 40px;
        padding: 0 15px;
    }

    .uk-navbar-nav > li > a {
        font-size: 0.925rem;
        color: $color-gray-60;
    }

    .uk-navbar-nav.uk-text-small > li > a {
        font-size: 0.825rem;
    }

    .uk-navbar-nav > li > a:hover,
    .uk-navbar-nav > li > a:focus,
    .uk-navbar-nav > li > a.uk-open {
        color: $color-gray-35;
    }

    .uk-navbar-nav > li.uk-active > a {
        color: $color-white;
    }

    // .uk-navbar-nav > li.uk-active > a {
    //     color: $color-primary;
    // }

    .uk-navbar-nav > li > a .uk-icon {
        opacity: 0.7;
    }

    .uk-navbar-nav a .uk-icon > svg {
        width: 16px;
        height: 16px;
    } 

}
