.el-tabs__nav-wrap::after {
    height: 1px;
}

.el-popover {
    text-align: inherit;
    padding: 0;
}

.el-popover__header {
    padding: 12px 20px;
    border-bottom: $--tab-border-line;
}

.el-popover__content {
    padding: 12px 20px;
}

.el-popover .el-tabs__header {
    margin: 0;
}

.el-form-item {
    margin-bottom: 22px;
}

.el-form-item__label {
    line-height: 22px;
    padding-bottom: 0;
}

.el-notification__content {
    text-align: left;
}

.el-message {
    width: 420px;
}

.el-message__content {
    line-height: 1.3;
}
