

.th-table {

    & {
        margin-bottom: 20px;
        width: 100%;
        border-radius: 3px;
        background-color: $color-white;
        box-shadow: 0 1px 3px rgba($color-gray-25, 0.15);
    }

    .th-table-tr > div {
        padding: 20px 16px;
    }

    .th-table-tr > div:first-child {
        padding-left: 24px;
    }

    .th-table-tr > div:last-child {
        padding-right: 24px;
    }

    .th-table-td {
        padding: 20px 16px;
    }

    .th-table-td:first-child {
        padding-left: 24px;
    }

    .th-table-td:last-child {
        padding-right: 24px;
    }

    .th-table-td-xs {
        flex-shrink: 0;
        width: 50px;
    }

    .th-table-td-s {
        flex-shrink: 0;
        width: 100px;
    }

    .th-table-td-m {
        flex-shrink: 0;
        width: 140px;
    }

    .th-table-td-l {
        flex-shrink: 0;
        width: 200px;
    }

    .th-table-td-xl {
        flex-shrink: 0;
        width: 340px;
    }

    .th-table-head .th-table-tr {
        font-size: 0.875rem;
        border-bottom: 1px solid $color-gray-5;
    }

    .th-table-filter {
        background-color: lighten($color-gray-5, 3%);
    }

    .th-table-filter .th-table-tr {
        font-size: 0.875rem;
        border-bottom: 1px solid $color-gray-5;
    }

    .th-table-filter .th-table-tr > div:not(.th-table-td) {
        padding: 0;
    }

    .th-table-filter .th-table-tr > div .app-list-filter > a,
    .th-table-filter .th-table-tr > div .app-list-sort > a {
        display: block;
        padding: 20px 16px;
    }

    .th-table-filter .th-table-tr > div:first-child .app-list-filter > a,
    .th-table-filter .th-table-tr > div:first-child .app-list-sort > a {
        padding-left: 24px;
    }

    .th-table-filter .th-table-tr > div:last-child .app-list-filter > a,
    .th-table-filter .th-table-tr > div:last-child .app-list-sort > a {
        padding-right: 24px;
    }

    // .th-table-filter .th-table-tr > div .app-list-filter > a.uk-active,
    // .th-table-filter .th-table-tr > div .app-list-sort > a.uk-active {
    //     border-bottom-color: mix($color-primary, $color-gray-5, 50%);
    // }

    .th-table-filter {
        color: $color-gray-45;
    }

    .th-table-filter a {
        transition: color 0.3s;
        color: $color-gray-55;
    }

    .th-table-filter a:hover {
        color: $color-gray-75;
    }

    .th-table-filter a.uk-active {
        color: $color-gray-90;
    }

    .th-table-filter .uk-dropdown a {
        color: $color-primary;
    }

    .th-table-body .th-table-tr {
        border-bottom: 1px solid $color-gray-5;
    }

    .th-table-body.th-table-highlight .th-table-tr {
        transition: background 0.15s;
    }

    &.th-table-highlight .th-table-body .th-table-tr:hover {
        background-color: lighten($color-gray-5, 3%);
    }

    .uk-icon svg {
        width: 16px;
        height: 16px;
    }

}


.th-table-fake {

    & {
        margin-bottom: 20px;
    }

    .th-table-fake-tr > div {
        padding: 16px 12px;
    }

    .th-table-fake-head .th-table-fake-tr {
        font-size: 0.875rem;
        border-bottom: 2px solid $color-primary;
    }

    .th-table-fake-body .th-table-fake-tr {
        border-bottom: 1px solid $color-gray-5;
    }

    .uk-icon svg {
        width: 16px;
        height: 16px;
    }

}