
.th-table {
    margin-bottom: 20px;
    width: 100%;
}

.th-table:last-child {
    margin-bottom: 0;
}

.th-table .th-table-tr > div {
    padding: 18px 16px;
}

.th-table .th-table-tr > div:first-child {
    padding-left: 24px;
}

.th-table .th-table-tr > div:last-child {
    padding-right: 24px;
}

.th-table .th-table-td {
    padding: 20px 16px;
}

.th-table .th-table-td:first-child {
    padding-left: 24px;
}

.th-table .th-table-td:last-child {
    padding-right: 24px;
}

.th-table .th-table-td-xs {
    flex-shrink: 0;
    width: 50px;
}

.th-table .th-table-td-s {
    flex-shrink: 0;
    width: 100px;
}

.th-table .th-table-td-m {
    flex-shrink: 0;
    width: 140px;
}

.th-table .th-table-td-l {
    flex-shrink: 0;
    width: 200px;
}

.th-table .th-table-td-xl {
    flex-shrink: 0;
    width: 340px;
}

.th-table .th-table-head .th-table-tr {
    border-bottom: 1px solid darken($color-gray-5, 3%);
}

.th-table .th-table-filter {
    background-color: $color-gray-5;
}

.th-table .th-table-filter .th-table-tr {
    font-size: $global-small-font-size;
    border-bottom: 1px solid darken($color-gray-5, 3%);
}

.th-table .th-table-filter .th-table-tr > div:not(.th-table-td) {
    padding: 0;
}

.th-table .th-table-filter {
    color: $color-gray-50;
}

.th-table .th-table-body .th-table-tr {
    margin-top: -1px;
    border-top: 1px solid darken($color-gray-5, 3%);
    border-bottom: 1px solid darken($color-gray-5, 3%);
}

.th-table.th-table-highlight .th-table-body .th-table-tr {
    transition: background 0.15s;
}

.th-table.th-table-highlight .th-table-body .th-table-tr:hover {
    background-color: $color-highlight;
}

.th-table .th-table-filter .th-table-tr > div .app-list-filter > a,
.th-table .th-table-filter .th-table-tr > div .app-list-sort > a {
    display: block;
    padding: 20px 16px;
}

.th-table .th-table-filter .th-table-tr > div:first-child .app-list-filter > a,
.th-table .th-table-filter .th-table-tr > div:first-child .app-list-sort > a {
    padding-left: 24px;
}

.th-table .th-table-filter .th-table-tr > div:last-child .app-list-filter > a,
.th-table .th-table-filter .th-table-tr > div:last-child .app-list-sort > a {
    padding-right: 24px;
}
