
.th-topbar {

    & {
        padding: 30px 0;
        max-height: 100px;
    }

    .uk-navbar-item {
        padding: 0 20px;
    }

    .uk-navbar-item,
    .uk-navbar-nav > li > a {
        height: 40px;
        min-height: 40px;
    }

}
