/**
 * Theme
 **/

$color-green:               #00df94;
$color-blue:                #007cff;
$color-red:                 #ff2169;
$color-orange:              #ffb958;
$color-yellow:              #FFD530;

$color-white:               #ffffff;
$color-black:               #05080c;

$color-primary:             $color-blue;
$color-secondary:           $color-black;

$color-dark-10:             mix($color-black, $color-primary, 90%);
$color-dark-20:             mix($color-black, $color-primary, 80%);
$color-dark-30:             mix($color-black, $color-primary, 70%);
$color-dark-40:             mix($color-black, $color-primary, 60%);
$color-dark-50:             mix($color-black, $color-primary, 50%);
$color-dark-60:             mix($color-black, $color-primary, 40%);
$color-dark-70:             mix($color-black, $color-primary, 30%);
$color-dark-80:             mix($color-black, $color-primary, 20%);
$color-dark-90:             mix($color-black, $color-primary, 10%);

$color-light-10:            mix($color-white, $color-primary, 90%);
$color-light-20:            mix($color-white, $color-primary, 80%);
$color-light-30:            mix($color-white, $color-primary, 70%);
$color-light-40:            mix($color-white, $color-primary, 60%);
$color-light-50:            mix($color-white, $color-primary, 50%);
$color-light-60:            mix($color-white, $color-primary, 40%);
$color-light-70:            mix($color-white, $color-primary, 30%);
$color-light-80:            mix($color-white, $color-primary, 20%);
$color-light-90:            mix($color-white, $color-primary, 10%);

$color-gray-10:             mix($color-white, $color-dark-10, 97.5%);
$color-gray-20:             mix($color-white, $color-dark-10, 87.5%);
$color-gray-30:             mix($color-white, $color-dark-10, 77.5%);
$color-gray-40:             mix($color-white, $color-dark-10, 67.5%);
$color-gray-50:             mix($color-white, $color-dark-10, 57.5%);
$color-gray-60:             mix($color-white, $color-dark-10, 47.5%);
$color-gray-70:             mix($color-white, $color-dark-10, 37.5%);
$color-gray-80:             mix($color-white, $color-dark-10, 27.5%);
$color-gray-90:             mix($color-white, $color-dark-10, 17.5%);

@import 'vendor.scss';
@import 'app.scss';

body {
    background-color: $color-gray-10;
}

a, button {
    text-decoration: none !important;
}

.uk-input, .uk-select, .uk-checkbox {
    border-width: 2px;
    background-color: transparent;
}

.uk-button, .uk-input, .uk-select, .uk-checkbox {
    border-radius: 2px;
}

.uk-ajax-load {

    & {
        position: fixed;
        top: 0;
        left: 0;
    }

    & {
        width: 100%;
        height: 100%;
    }

    & {
        z-index: 999;
        opacity: 0;
        display: none;
    }

    & {
        background-color: rgba($color-primary, 0.8);
    }

    &.uk-active {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .uk-spinner circle {
        stroke: $color-white !important;
    }
    
}

.uk-navbar-list {

    & {
        display: flex;
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    li {
        display: inline-flex;
        align-items: center;
    }

    li > a {
        display: inline-flex;
        align-items: center;
        text-transform: none;
    }

    li > a {
        padding: 0 10px;
        color: $color-gray-40;
        transition: all 150ms;
    }

    li:first-child > a {
        margin-left: 0 !important;
    }

    li:last-child > a {
        margin-right: 0 !important;
    }

    li > a.uk-button {
        padding: 0 15px;
        margin: 0 5px;
    }

    li > a:hover {
        color: $color-gray-60;
    } 

    li.uk-active > a {
        color: $color-primary;
    }

}

.app-header {
    box-shadow: 0 0 20px rgba($color-gray-50, 0.1);
}

.app-navigation {

    & {
        padding: 0 30px;
        background-color: $color-white;
        border-bottom: 1px solid $color-gray-10;
    }

    .uk-navbar-list > li {
        font-size: 0.875rem;
    }

    .uk-navbar-list > li > a {
        height: 45px;
    }

}

.app-infobar {

    & {
        padding: 0 30px;
        background-color: $color-white;
    }

    & > div:first-child li {
        font-size: 1.150rem;
    }

    & > div:first-child li > a {
        margin: 0 10px;
        height: 85px;
    }

    & > div:last-child li > .uk-button {
        color: $color-white;
        background-color: $color-primary;
    }

    & > div:last-child li > .uk-button:hover {
        background-color: darken($color-primary, 5%);
    }

    & > div:last-child li.uk-success > .uk-button {
        background-color: $color-green;
    }

    & > div:last-child li.uk-success > .uk-button:hover {
        background-color: darken($color-green, 5%);
    }

    & > div:last-child li.uk-warning > .uk-button {
        background-color: $color-orange;
    }

    & > div:last-child li.uk-warning > .uk-button:hover {
        background-color: darken($color-orange, 5%);
    }

    & > div:last-child li.uk-danger > .uk-button {
        background-color: $color-red;
    }

    & > div:last-child li.uk-danger > .uk-button:hover {
        background-color: darken($color-red, 5%);
    }

    & > div:last-child li > .uk-button > .uk-icon {
        opacity: 0.95;
    }

    & > div:last-child li > .uk-button > .uk-icon svg {
        width: 17.5px;
        height: 17.5px;
    }

}

.app-toolbar {

    & {
        padding: 0 40px;
        background-color: darken($color-primary, 5%);
        box-shadow: 0 0 20px rgba($color-gray-50, 0.1);
    }

    li {
        padding: 10px 0;
    }

    li > a {
        margin: 0 10px;
    }

    li > .uk-button {
        color: mix($color-white, $color-primary, 90%);
        background-color: $color-primary;
    }

    li > .uk-button:hover {
        color: $color-white;
        background-color: lighten($color-primary, 5%);
    }

    li.uk-disabled > .uk-button {
        color: mix($color-white, $color-primary, 50%);
    }

    li.uk-success > .uk-button {
        color: mix($color-white, $color-green, 90%);
        background-color: $color-green;
    }

    li.uk-success > .uk-button:hover {
        color: $color-white;
        background-color: darken($color-green, 5%);
    }

    li.uk-warning > .uk-button {
        color: mix($color-white, $color-orange, 90%);
        background-color: $color-orange;
    }

    li.uk-warning > .uk-button:hover {
        color: $color-white;
        background-color: darken($color-orange, 5%);
    }

    li.uk-danger > .uk-button {
        color: mix($color-white, $color-red, 90%);
        background-color: $color-red;
    }

    li.uk-danger > .uk-button:hover {
        color: $color-white;
        background-color: darken($color-red, 5%);
    }

    li > .uk-button > .uk-icon {
        opacity: 0.95;
    }

    li > .uk-button > .uk-icon svg {
        width: 17.5px;
        height: 17.5px;
    }

    li > .uk-spacer {
       width: 15px;
    } 

}

.app-body {

    & {
        padding: 0 30px;
        // background-color: $color-white;
    }

}

.uk-pagination {
    margin-bottom: 0;
}

.uk-flex-pull-left {
    margin-right: auto;
}

.uk-flex-pull-right {
    margin-left: auto;
}

.uk-background-pattern {
    background-color: $color-primary;
    background-image: url('../img/science.png');
    background-size: 400px 300px;
}

.uk-select-group {

    .uk-select {
        display: inline-flex !important;
        align-items: center;
        cursor: pointer;
    }

    .uk-select:focus,
    .uk-select.uk-open {
        border-color: $color-primary;
    }

    &.uk-success .uk-select:focus,
    &.uk-success .uk-select.uk-open {
        border-color: $color-green;
    }

    &.uk-warning .uk-select:focus,
    &.uk-warning .uk-select.uk-open {
        border-color: $color-orange;
    }

    &.uk-danger .uk-select:focus,
    &.uk-danger .uk-select.uk-open {
        border-color: $color-red;
    }
    
    .uk-select:before {
        content: '\00a0';
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 10px;
        margin-right: 10px;
        background-color: $color-primary;
    }

    &.uk-success .uk-select:before {
        background-color: $color-green;
    }

    &.uk-warning .uk-select:before {
        background-color: $color-orange;
    }

    &.uk-danger .uk-select:before {
        background-color: $color-red;
    }

    .uk-dropdown {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: $color-primary;
        transition: background 300ms;
        max-height: 300px;
        overflow-y: auto;
    }

    &.uk-success .uk-dropdown {
        background-color: $color-green;
    }

    &.uk-warning .uk-dropdown {
        background-color: $color-orange;
    }

    &.uk-danger .uk-dropdown {
        background-color: $color-red;
    }

    .uk-dropdown .uk-input {
        border: none;
        background-color: darken($color-primary, 15%);
    }

    .uk-dropdown li {
        color: $color-white;
        padding: 8px 15px 10px;
        transition: background 300ms;
    }

    .uk-dropdown li:not(.uk-disabled) {
        cursor: pointer;
    }

    .uk-dropdown li:not(.uk-disabled):hover {
        background-color: darken($color-primary, 5%);
    }

    &.uk-success .uk-dropdown li:not(.uk-disabled):hover {
        background-color: darken($color-green, 5%);
    }

    &.uk-warning .uk-dropdown li:not(.uk-disabled):hover {
        background-color: darken($color-orange, 5%);
    }

    &.uk-danger .uk-dropdown li:not(.uk-disabled):hover {
        background-color: darken($color-red, 5%);
    }

    .uk-dropdown li.uk-active {
        background-color: darken($color-primary, 10%) !important;
    }

    &.uk-success .uk-dropdown li.uk-active {
        background-color: darken($color-green, 10%) !important;
    }

    &.uk-warning .uk-dropdown li.uk-active {
        background-color: darken($color-orange, 10%) !important;
    }

    &.uk-danger .uk-dropdown li.uk-active {
        background-color: darken($color-red, 10%) !important;
    }

    .uk-dropdown li:hover {
        padding: 8px 15px 10px;
    }

    .uk-dropdown li a {
        color: $color-white;
    }
    
}



.uk-list-inline {

    & {
        padding: 0;
        list-style-type: none;
    }

    li {
        display: inline-block;
    }

    li:nth-child(1n+2):before {
        content: ', ';
    }

}

.uk-table-list {

    .uk-list, .uk-list li {
        margin: 0 !important;
    }

    .uk-table-list-head {
        @extend .uk-flex, .uk-flex-middle ;
        padding: 15px 0;
        color: $color-gray-60;
        background-color: $color-gray-10;
    }

    .uk-table-list-head a {
        color: $color-black;
    }

    .uk-table-list-row {
        @extend .uk-flex, .uk-flex-middle ;
        padding: 15px 0;
        border-bottom: 1px solid $color-gray-10;
        background-color: $color-white;
    }

    .uk-table-list-td {
        padding: 0 10px;
    }

    .uk-table-list-td-auto {
        flex: 1;
    }

    .uk-table-list-td-xs {
        width: 30px;
    }

    .uk-table-list-td-s {
        width: 60px;
    }

    .uk-table-list-td-m {
        width: 90px;
    }

    .uk-table-list-td-m {
        width: 120px;
    }

    .uk-table-list-td-l {
        width: 160px;
    }

    .uk-table-list-td-xl {
        width: 200px;
    }

}
