@import "~nanojs/src/vue/root/vars";

.header {
    background: $--color-white;
    box-shadow: 0 1px 3px rgba($color-black, 0.05);
}

.header__inner {
    height: 90px;
}

.header__logo {
    margin-right: auto;
}

.header__nav {
    margin-left: auto;
    margin-right: auto;
}

.header__nav a {
    font-weight: 500;
    color: $--color-gray-50;
}

.header__nav a:hover {
    color: $--color-gray-60;
}

.header__nav a.router-link-active {
    color: $--color-black;
}

.header__auth {
    margin-left: auto;
}
