@import "~nanojs/src/vue/root/vars";

.root {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
}

.root__system {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 0;
    background: $--color-white;
}

.root__system .main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 0;
    padding: 25px 0;
}

.root__system .container {
    width: 100%;
    max-width: 640px;
    margin: auto;
    padding: 0 25px;
}

.root__module {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 0;
    background: $--color-background;
}

.root__module .main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 0;
    padding: 25px 0;
}

.root__module .container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto auto;
    padding: 0 25px;
}
