/**
 *  Zeus Version 0.0.2
 */

 @mixin grid (
    $prefix:    'row',
    $addfix:    'null',
    $margin:    1rem,
    $column:    'col'
) {
    
    [class^="#{$prefix}-"],
    [class*="#{$prefix}-"] {
        box-sizing: border-box;
    }

    .#{$prefix}-float {
        display: block;
    }

    .#{$prefix}-float:after {
        content: '\00a0';
        display: block;
        height: 0;
        clear: both;
    }

    @if $addfix == 'null' {

        .#{$prefix}-float > .pull-left {
            float: left;
        }

        .#{$prefix}-float > .pull-right {
            float: right;
        }

    } @else {

        .#{$prefix}-float > .#{$addfix}-pull-left {
            float: left;
        }

        .#{$prefix}-float > .#{$addfix}-pull-right {
            float: right;
        }

    }

    .#{$prefix}-flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .#{$prefix}-spaced {
        margin: $margin * -1;
        width: calc(100% + #{$margin * 2});
    }

    .#{$prefix}-spaced > [class^="#{$column}-"],
    .#{$prefix}-spaced > [class*="#{$column}-"] {
        margin-top: $margin;
        margin-bottom: $margin;
        padding-left: $margin;
        padding-right: $margin;
    }

    @if $addfix == 'null' {

        .#{$prefix}-flex.flex-column {
            flex-direction: column;
            flex-wrap: nowrap;
        }

        .#{$prefix}-flex.flex-column > div {
            width: 100%;
        }
    
        .#{$prefix}-flex.align-left {
            justify-content: flex-start;
        }
    
        .#{$prefix}-flex.align-center {
            justify-content: center;
        }
    
        .#{$prefix}-flex.align-right {
            justify-content: flex-end;
        }
    
        .#{$prefix}-flex.align-top {
            align-items: flex-start;
        }
    
        .#{$prefix}-flex.align-middle {
            align-items: center;
        }
    
        .#{$prefix}-flex.align-bottom {
            align-items: flex-end;
        }
    
        .#{$prefix}-flex.align-stretch {
            align-items: stretch;
        }

        .#{$prefix}-flex > .flex-0 {
            flex: 0 0 auto;
        }
    
        .#{$prefix}-flex > .flex-1 {
            flex: 1 1 auto;
        }
    
        .#{$prefix}-flex > .flex-2 {
            flex: 2 2 auto;
        }

        .#{$prefix}-flex > .order-0 {
            order: 0;
        }
    
        .#{$prefix}-flex > .order-1 {
            order: 1;
        }
    
        .#{$prefix}-flex > .order-2 {
            order: 2;
        }
    
        .#{$prefix}-flex > .pull-left {
            margin-right: auto;
        }
    
        .#{$prefix}-flex > .pull-center {
            margin-left: auto; margin-right: auto;
        }
    
        .#{$prefix}-flex > .pull-right {
            margin-left: auto;
        }
    
        .#{$prefix}-flex > .pull-top {
            margin-bottom: auto;
        }
    
        .#{$prefix}-flex > .pull-middle {
            margin-top: auto; margin-bottom: auto;
        }
    
        .#{$prefix}-flex > .pull-bottom {
            margin-top: auto;
        }

    } @else {

        .#{$prefix}-flex.#{$addfix}-flex-column {
            flex-direction: column;
        }

        .#{$prefix}-flex.#{$addfix}-flex-column > div {
            width: 100%;
        }
    
        .#{$prefix}-flex.#{$addfix}-align-left {
            justify-content: flex-start;
        }
    
        .#{$prefix}-flex.#{$addfix}-align-center {
            justify-content: center;
        }
    
        .#{$prefix}-flex.#{$addfix}-align-right {
            justify-content: flex-end;
        }
    
        .#{$prefix}-flex.#{$addfix}-align-top {
            align-items: flex-start;
        }
    
        .#{$prefix}-flex.#{$addfix}-align-middle {
            align-items: center;
        }
    
        .#{$prefix}-flex.#{$addfix}-align-bottom {
            align-items: flex-end;
        }
    
        .#{$prefix}-flex.#{$addfix}-align-stretch {
            align-items: stretch;
        }

        .#{$prefix}-flex > .#{$addfix}-flex-0 {
            flex: 0 0 auto;
            flex-basis: auto;
        }
    
        .#{$prefix}-flex > .#{$addfix}-flex-1 {
            flex: 1 1 auto;
            flex-basis: auto;
        }
    
        .#{$prefix}-flex > .#{$addfix}-flex-2 {
            flex: 2 2 auto;
            flex-basis: auto;
        }

        .#{$prefix}-flex > .#{$addfix}-order-0 {
            order: 0;
        }
    
        .#{$prefix}-flex > .#{$addfix}-order-1 {
            order: 1;
        }
    
        .#{$prefix}-flex > .#{$addfix}-order-2 {
            order: 2;
        }
    
        .#{$prefix}-flex > .#{$addfix}-pull-left {
            margin-right: auto;
        }
    
        .#{$prefix}-flex > .#{$addfix}-pull-center {
            margin-left: auto; margin-right: auto;
        }
    
        .#{$prefix}-flex > .#{$addfix}-pull-right {
            margin-left: auto;
        }
    
        .#{$prefix}-flex > .#{$addfix}-pull-top {
            margin-bottom: auto;
        }
    
        .#{$prefix}-flex > .#{$addfix}-pull-middle {
            margin-top: auto; margin-bottom: auto;
        }
    
        .#{$prefix}-flex > .#{$addfix}-pull-bottom {
            margin-top: auto;
        }

    }

}

@mixin column (
    $prefix:    'col',
    $units:     12,
    $grid:      'grid',
    $margin:    1rem
) {

    [class^="#{$prefix}-"],[class*="#{$prefix}-"] {
        box-sizing: border-box;
    }

    @for $i from 0 to $units + 1 {
        .#{$prefix}-#{$i}-#{$units} { flex: 0 0 auto; float: left; width: 100% / $units * $i; }
        .#{$grid}-spaced.#{$prefix}-#{$i}-#{$units} { width: calc(#{100% / $units * $i} + #{ $margin * 2}); }
    }

}

@mixin offset (
    $prefix:    'off',
    $units:     12
) {

    [class^="#{$prefix}-"], [class*="#{$prefix}-"] {
        box-sizing: border-box;
    }

    @for $i from 0 to $units + 1 {
        .#{$prefix}-#{$i}-#{$units} { margin-left: 100% / $units * $i; }
    }

}

@mixin ratio (
    $prefix:    'asr',
    $ratios:    16
) {

    @for $i from 0 to $ratios + 1 {
        .#{$prefix}-#{$ratios}-#{$i}:before { content: '\00a0'; display: block; height: 0; padding-bottom: 100% / $ratios * $i; }
    }

}

@mixin reset(
    $prefix:    'reset',
    $addfix:    'null'
) {

    @if $addfix == 'null' {

        .#{$prefix}-padding {
            padding: 0 !important;
        }

        .#{$prefix}-padding-top {
            padding-top: 0 !important;
        }

        .#{$prefix}-padding-right {
            padding-right: 0 !important;
        }

        .#{$prefix}-padding-bottom {
            padding-bottom: 0 !important;
        }

        .#{$prefix}-padding-left {
            padding-left: 0 !important;
        }

        .#{$prefix}-margin {
            margin: 0 !important;
        }

        .#{$prefix}-margin-top {
            margin-top: 0 !important;
        }

        .#{$prefix}-margin-right {
            margin-right: 0 !important;
        }

        .#{$prefix}-margin-bottom {
            margin-bottom: 0 !important;
        }

        .#{$prefix}-margin-left {
            margin-left: 0 !important;
        }

    } @else {

        .#{$prefix}-padding-#{$addfix} {
            padding: 0 !important;
        }

        .#{$prefix}-padding-top-#{$addfix} {
            padding-top: 0 !important;
        }

        .#{$prefix}-padding-right-#{$addfix} {
            padding-right: 0 !important;
        }

        .#{$prefix}-padding-bottom-#{$addfix} {
            padding-bottom: 0 !important;
        }

        .#{$prefix}-padding-left-#{$addfix} {
            padding-left: 0 !important;
        }

        .#{$prefix}-margin-#{$addfix} {
            margin: 0 !important;
        }

        .#{$prefix}-margin-top-#{$addfix} {
            margin-top: 0 !important;
        }

        .#{$prefix}-margin-right-#{$addfix} {
            margin-right: 0 !important;
        }

        .#{$prefix}-margin-bottom-#{$addfix} {
            margin-bottom: 0 !important;
        }

        .#{$prefix}-margin-left-#{$addfix} {
            margin-left: 0 !important;
        }

    }

}
