@import "../vars";

.el-loading-mask {
    background: rgba($color-white, 0.3);
}

.el-loading-spinner .path {
    stroke: $color-primary;
}

.el-tabs__nav-wrap::after {
    height: 1px;
}

.el-popover {
    text-align: inherit;
    padding: 0;
}

.el-popover__header {
    padding: 12px 20px;
    border-bottom: 1px;
}

.el-popover__content {
    padding: 12px 20px;
}

.el-popover .el-tabs__header {
    margin: 0;
}

.el-form-item {
    margin-bottom: 22px;
}

.el-form-item__label {
    line-height: 1.2;
}

.el-form--label-top .el-form-item__label {
    padding-bottom: 5px;
}

.el-select {
    width: 100%;
}

.el-radio-group {
    display: flex;
    width: 100%;
}

.el-radio-group .el-radio-button {
    display: flex;
    flex: 1 0 auto;
}

.el-radio-button .el-radio-button__inner {
    flex: 1 0 auto;
}

.el-notification__content {
    text-align: left;
}

.el-message {
    width: 380px;
}

.el-message__content {
    line-height: 1.2;
}

.el-pagination .el-select .el-input {
    min-width: 130px;
}

.el-pagination {
    margin: 17px 0;
}
