@import "../vars";

.app__error {
    text-align: center;
}

.app__error a {
    color: lighten($color-muted, 20%);
}

.app__error h1 {
    font-weight: 300;
    font-size: 2rem;
    color: $color-white;
    margin-bottom: 12px;
}

.app__error p {
    font-size: $text-medium;
    color: $color-muted;
}
