@import "../vars";

.app__header {
    display: flex;
    padding: 10px 40px;
    height: 80px;
    background: $color-black;
}

.header__logo {
    display: flex;
    margin-right: 30px;
}

.header__logo  a {
    color: $color-white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__logo h2 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: $text-medium;
}

.header__nav {
    display: flex;
}

.header__auth {
    display: flex;
}
