@import "../vars";

.app__toolbar {
    display: flex;
    padding: 10px 40px;
    height: 100px;
    background: lighten($color-black, 5%);
    box-shadow: $box-shadow;
}

.toolbar__title h1 {
    font-size: $text-large;
    color: lighten($color-muted, 10%);
    font-weight: 300;
}
